<h3 (click)="collapseCart()" [class.open]="cartCollapsed === true">
  <span>
    Wish List
    <small>
      {{cartService.getCartItems().length}}
      {{(cartService.getCartItems().length == 1 ? 'item' : 'items')}}
    </small>
  </span>
  <span class="caret"></span>
</h3>

<div *ngIf="cartItems.length && !cartCollapsed" class="list-wrapper">
  <ul>
    <li class="ghost">
      <span></span>
      <small>
        <button class="text" (click)="cartService.removeAll()">remove all</button>
      </small>
    </li>
  </ul>
  <ul class="items">
    <li *ngFor="let item of cartService.getCartItems()">
      <span>
        {{item.name}}<br />
        <small class="ghost">in <a routerLink="category/{{item.category}}">{{item.category}}</a></small>
      </span>
      <button (click)="cartService.removeItem(item)" class="text">&times;</button>
    </li>
  </ul>
  <ul>
    <li>
      <button (click)="doCheckout()">Checkout</button>
    </li>
  </ul>
</div>
