<h3 (click)="collapseCart()" [class.open]="cartCollapsed === true">
  <span>
    My Things
    <small>
      {{cartItems.length}}
      {{(cartItems.length == 1 ? 'item' : 'items')}}
    </small>
  </span>
  <span class="caret"></span>
</h3>

<div *ngIf="cartItems.length">
  <ul *ngIf="cartCollapsed">
    <li>
      <span></span>
      <button class="text" (click)="removeAllItem()">remove all</button>
    </li>
    <li *ngFor="let item of cartItems">
      <span>{{item.name}}</span>
      <button (click)="cartService.removeItem(item)" class="text">&times;</button>
    </li>
    <li>
      <button routerLink="/checkout/start">Checkout</button>
    </li>
  </ul>
</div>
