<h3 (click)="collapseCart()" [class.open]="cartCollapsed === true">
  <span>
    {{cartTitle}}
    <small>
      {{cartItems.length}}
      {{(cartItems.length == 1 ? 'item' : 'items')}}
    </small>
  </span>
  <span class="caret"></span>
</h3>

<div *ngIf="cartItems.length && !cartCollapsed" class="list-wrapper">
  <ul>
    <li class="ghost">
      <span></span>
      <small>
        <button class="text" (click)="cartService.removeAll()">remove all</button>
      </small>
    </li>
  </ul>
  <ul class="items">
    <li *ngFor="let item of cartItems">
      <span>
        {{item.name}}<br />
        <small class="ghost" *ngIf="item.category">in {{item.category}}</small>
      </span>
      <button (click)="cartService.removeItem(item)" class="text">&times;</button>
    </li>
  </ul>
  <ul>
    <li>
      <button (click)="doCheckout(); playXmasMusic()">{{actionButtonLabel}}</button>
    </li>
  </ul>
</div>
