:root {
  --selected: #cde5f0;
  --action: #127eb6;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: calc(1em + 1vmin)
}
*, *::before, *::after {
  box-sizing: border-box;
}

.list h3 {
  border-bottom: .1em solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.5em 0;
}

.list h3 small {
  opacity: .4;
}

.list .caret {
  display: block;
  width: .5em;
  height: .5em;
  box-shadow: .1em .1em 0 0 inset;
  transform: rotate(45deg);
  transition: transform 180ms ease-out;
  opacity: .4;
}
.list .open .caret {
  transform: rotate(-135deg);
}

.list ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

store label {
  display: block;
  vertical-align: middle;
  padding: 1em;
}

cart li {
  padding: 1em 0;
}

.list li.selected {
  background: var(--selected);
}


/* checkbox */
.list input[type="checkbox"] {
  font-size: 1em;
  border: 0;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  transition: all .3s;
  outline-offset: 0;
  margin: 0;
  width: 1em;
  height: 1em;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  color: var(--action);
  background: #fff;
  border: .1em solid;
  position: relative;
}
.list input[type="checkbox"]:focus {
  outline: none;
}
.list input[type="checkbox"]::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
  border: 0 solid;
  border-width: 0 0 .25em .25em;
  color: transparent;
  padding: .15em .4em;
  left: 75%;
  top: 20%;
}
.list input[type="checkbox"][disabled] {
  opacity: .35;
}
.list input[type="checkbox"]:not(.toggle) {
  border-radius: .2em;
  margin-right: .3em;
}
.list input[type="checkbox"]:not(.toggle):checked::before {
  color: inherit;
}
